.checkbox-label{
    color: red;
}
.checkbox:checked + .checkbox-label{
    color: black;
}
.container{
    padding: 20px !important;
}
input , select{
    margin-top: 10px;
}
/* Your CSS Code here. */